.contact-info {
    border-right: 1px solid #ccc;
    padding: 20px;
    width: 40%;
    color: #333;
}

.contact-info h2 {
    color: #0056b3;
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}
.contact-form {
    padding: 20px;
    width: 10%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #607AD6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.custom-border {
   
    border-right: 2px solid #ccc;
margin-right: 5%;
padding: 10%;
    
   
}
